.flexTeam {
	width: 100%;
	height: 70vh;
	display: flex;
	align-items: center;
	justify-content: center;

	.grid {
		display: grid;
		grid-template-columns: repeat(4, 200px);
		grid-template-rows: repeat(2, 200px);
		gap: 50px;

		.photo {
			width: 200px;
			margin-bottom: 10px;
		}
		.wrapper {
			display: flex;
			flex-direction: column;
			align-items: center;
		}
		span {
			font-size: 20px;
			font-weight: 600;
		}
	}
}
.titleTeam {
	width: 100%;
	height: 200px;
	background-color: pink;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	h4 {
		margin-bottom: 10px;
	}
}
@media (max-width: 1000px) {
	.flexTeam {
		width: 100vw;
		height: 100%;
		display: flex;
		align-items: center;
		justify-items: center;

		.grid {
			display: flex;
			flex-direction: column;

			align-items: center;
			justify-items: center;

			.photo {
				width: 200px;
			}
		}
		.wrapper {
			height: 30vh;
			display: flex;
			flex-direction: column;
			align-items: center;
			margin: 2%;
			
		}
	}
	.titleTeam {
		background-color: pink;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-items: center;
		padding: 5%;
		h1 {
			font-size: 22px;
			text-align: center;
		}
	}
}
