.wrapperOffer {
	background-color: #000000;
	height: 70vh;
	display: flex;
	color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 5%;
	.wrapperServices {
		display: flex;
		flex-direction: row;
		width: 70vw;
		height: 50vh;
		flex-wrap: wrap;
	}
	.servicesTitle {
		color: orange;
		font-size: 30px;
		margin-bottom: 2%;
	}
	.service1,
	.service2,
	.service3,
	.service4 {
		width: 550px;
		margin: auto;
	}
	.titleOfService {
		font-size: 25px;
		margin-bottom: 3%;
		color: orange;
	}
	.descriptionService {
		font-size: 20px;
		line-height: 30px;
	}
}
@media (max-width: 1000px) {
	.wrapperOffer {
		height: 80vh;
	
		.servicesTitle {
			font-size: 20px;
		}
		.service1,
		.service2,
		.service3,
		.service4 {
			width: 350px;
		
		}
		.titleOfService {
			font-size: 20px;
			margin-top: 5%;
			color: orange;
		}
		.descriptionService {
			font-size: 18px;
			line-height: 30px;
		}
	}
}
