.wrapperOffer {
	background-color: #000000;
	height: 70vh;
	display: flex;
	color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	
	.wrapperServices {
		display: flex;
		flex-direction: row;
		width: 50vw;
		height: 50vh;
		flex-wrap: wrap;
		align-content: center;
		justify-content: center;
	}
	.singleElement{
		width: 350px;
		margin: 5%;
	}
	.servicesTitle {
		color: orange;
		font-size: 30px;
		margin: 2%;
	}

	.titleOfService {
		font-size: 25px;
		margin-bottom: 3%;
		color: orange;
	}
	.descriptionService {
		font-size: 20px;
		line-height: 30px;
	}
	.asideText{
		width: 50%;
		height: 50%;
		background-color: #fff;
	}
}
@media (max-width: 1000px) {
	.wrapperOffer {
		height: 100vh;
	.wrapperServices{
		height: 80%;
	}
		.servicesTitle {
			font-size: 20px;
			margin: 30px;
		}
		.service1,
		.service2,
		.service3,
		.service4 {
			width: 350px;
		
		}
		.titleOfService {
			font-size: 20px;
			margin-top: 5%;
			color: orange;
		}
		.descriptionService {
			font-size: 18px;
			line-height: 30px;
		}
	}
}
